# NOTE -- this is no longer used in the tests.  It also has things not
# used, and is missing some things used.  You can run using the docker
# file build from docker/application.  See that Dockerfile for a list of
# the pip packages installed.

astropy==5.2.1
attrs==22.2.0
blosc2==2.0.0
certifi==2022.12.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.33
exceptiongroup==1.1.1
fonttools==4.39.2
gitdb==4.0.10
GitPython==3.1.31
greenlet==2.0.2
idna==3.4
importlib-resources==5.12.0
iniconfig==2.0.0
kiwisolver==1.4.4
matplotlib==3.7.1
msgpack==1.0.5
numexpr==2.8.4
numpy==1.24.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pluggy==1.0.0
psycopg2==2.9.5
py-cpuinfo==9.0.0
pyerfa==2.0.0.2
pyparsing==3.0.9
pytest==7.2.2
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
scipy==1.10.1
sep==1.2.1
six==1.16.0
smmap==5.0.0
SQLAlchemy==2.0.7
SQLAlchemy-Utils==0.40.0
tables==3.8.0
tomli==2.0.1
typing-extensions==4.5.0
urllib3==1.26.15
wget==3.2
zipp==3.15.0
