{% extends 'base.html' %}

{% block head %}
  <!-- <link rel="icon" type="image/png" href="static/favicon.png"> -->
  <link rel="stylesheet" href="static/seechange.css">
  <script src="static/conductor.js" type="module"></script>
  <script src="static/conductor_start.js" type="module"></script>
{% endblock %}

{% block title %}SeeChange Conductor{% endblock %}

{% block content %}
  <div name="authdiv" id="authdiv" class="authdiv"></div>

  <h1>SeeChange Conductor</h1>

<div name="pagebody" id="pagebody"></div>
{% endblock %}

{% block footer %}
{% endblock %}
